node_modules
dist
coverage
.git
.gitignore
.env
.env.*
!.env.example
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.editorconfig
.prettierrc
.eslintrc*
eslint.config.*
.vscode
.idea
test
.husky
README.md
